<div class="container">
  <div class="row">
　<div class="col text-center">
    <div class="image-container">
      <%= image_tag 'black-forest-cake.jpg', class: 'img-fluid'%>
      <div class="main-text">
          <div class="text-content">
          <h4>ようこそ、ながのCAKEへ！</h4>
          <p>このサイトは、ケーキ販売の</p>
          <p>ECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col">
        <h3 class="border-bottom">新着商品</h3>
      </div>
    </div>