<div class="container">
  <div class="row d-flex justify-content-center">
      <h3 class="border-bottom p-3 my-3 bg-white">
        注文履歴一覧
      </h3>

<div class='container px-5 px-sm-0'>
  <div class='row'>
<table class = "table">
  <thead class = bg-white>
    <tr>
      <th scope = "col">購入日時</th>
      <th scope = "col">購入者</th>
      <th scope = "col">注文個数</th>
      <th scope = "col">注文ステータス</th>

    </tr>
  </thead>

  <tbody>
   <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime("%Y年%m月%d日%H時%M分"), admin_order_path(order.id) %></td>
        <td><%= order.customer.full_name %></td>
        <td><%= order.order_details.sum(:amount) %></td>
        <td><%#= order.status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>